.backContainer {
  margin-top: 3rem;
  margin-bottom: -1rem;
}

.link {
  margin-top: 1rem;
  cursor: pointer;
  
}
.link:hover {
  color: rgba(255, 255, 255, 0.646);
}

@media screen and (max-width: 1100px) {
  .backContainer {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
  }
}