html,
body {
  padding: 0;
  margin: 0;
  
  font-family: 'Nunito';
  font-size: 1.17rem;
  word-spacing: 2px;
  background: #6d6875;
  color: #fff;
  font-weight: 200;
  
}

a {
  color: inherit;
  text-decoration: none;
}


