.title {
  font-weight: 400;
}

.headerContainer {
  margin: 1.5rem 0;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headerContainer h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.headerContainer p {
  color: rgb(204, 202, 202);
}

.aboutContainer {
  max-width: 30rem;
  text-align: center;
}

.circleContainer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.circle {
  height:100px;
  width:100px;
  border-radius: 50%;
  background: linear-gradient(#ff9e00, #b5838d);
  transition: all .2s ease-in-out;
}

.circle:hover {
  transform: scale(1.2);
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(204, 202, 202);
  display: block;
  margin-top: 3rem;
}

.contentContainer {
  width: 100%;

}

.content h3 {
  margin-top: 3rem;
  margin-bottom: .25rem;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
}
.content h3 a:hover {
  color: rgb(214, 213, 213)
}

.icon:hover {
  color:rgb(214, 213, 213)
}

.content p {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .line {
    width: 95%;
    margin-top: 2rem;
  }
  .contentContainer {
    width: 95%;
  }
  .content h3 {
    margin-top: 1.5rem;
    margin-bottom: .15rem;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

