.container {
  margin: 3rem 8rem;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

@media screen and (max-width: 780px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }

}



