.container {
  margin: 3rem 8rem;
  
  
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 950px) {
  .container {
    margin: 3rem;
  }
}



