.nav {
  display: flex;
  background-color: #000;
  color: #fff;
  align-items: center;
  justify-content: flex-start;
  
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul li {
  margin: 5px 15px;
}